<header>
  <mat-form-field>
    <mat-label>Search CEP</mat-label>
    <input type="text" placeholder="Pick one" aria-label="cep" matInput [mask]="'00000-000'" [(ngModel)]="search" (keyup.enter)="changeCep()" >
  </mat-form-field>
</header>

<main>
  @let noData = !cepData.isLoading() ? "Not Found" : undefined;
  @let notLoaded = !cepData.hasValue() && !cepData.isLoading() ? "Please Search a CEP" : undefined;

  <app-label title="cep"          [value]="cepData.value()?.cep || notLoaded || noData" />
  <app-label title="logradouro"   [value]="cepData.value()?.logradouro || notLoaded || noData" />
  <app-label title="bairro"       [value]="cepData.value()?.bairro || notLoaded || noData" />
  <app-label title="localidade"   [value]="cepData.value()?.localidade || notLoaded || noData" />
  <app-label title="uf"           [value]="cepData.value()?.uf || notLoaded || noData" />
  <app-label title="ddd"          [value]="cepData.value()?.ddd || notLoaded || noData" />
</main>